{% extends "base.html" %}

{% block head_css_page %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
{% endblock head_css_page %}

{% block title %}
Login  
{% endblock title %}

{% block content %}

  <div class="d-flex flex-column align-items-center mt-4">

    <div class="col-12 col-md-6">
      <div class="messages mb-2">
        {% if messages %}
          {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-errors">
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="text-danger">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-6">
      <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}
          {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>      
   

{% endblock content %}