{% extends "base.html" %}

{% block head_css_page %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'events/css/styles.css' %}">
{% endblock head_css_page %}

{% block title %}
Übersicht  
{% endblock title %}

{% block content %}

 
  <div>
    <h3 class="table-header mb-4">Deine Einladungen</h3>
      {% if not events_invited %}
        <span class="font-weight-light">Du bist aktuell zu keinem Treffen eingeladen.</span>
      {% else %}
        <ul class="organised-events">
          {% for event in events_invited %}
            {% include "events/events_overview_invited_partial.html" %}
          {% endfor %}
        </ul>
      {% endif %}

  </div>

  <div class="pt-4 pb-4 mb-4">
    <h3 class="table-header mb-4 mt-4">Deine organisierten Treffen</h3>

    <ul class="organised-events">
    {% if not events_organised %}
      <span class="font-weight-light">Du hast aktuell keine Treffen organisiert.</span><br>
      <br>
      <a class="mt-4" href="/events/new">
        <button type="submit" class="btn btn-primary mt-1">Neues Treffen organsieren</button>
      </a>
    {% else %}
      {% for event in events_organised %}
        {% include "events/events_overview_organised_partial.html" %}
      {% endfor %}
    {% endif %}

    </ul>
  </div>


{% endblock content %}