{% extends "base.html" %}

{% block head_css_page %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'events/css/styles.css' %}">
{% endblock head_css_page %}

{% block title %}
Neues Treffen erstellen  
{% endblock title %}

{% block content %}

  
  <div class="d-flex flex-column align-items-center mt-4">
    <h3 class="mb-4">Neues Treffen erstellen</h3>
    <div class="col-12 col-md-6">
      <div class="messages mb-2">
        {% if messages %}
          {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-errors">
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="text-danger">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-6">
      <form id="new_event_form" method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          {{ form.title.label_tag }}
          {{ form.title }}
        </div>
        <div class="form-group">
          {{ form.place.label_tag }}
          {{ form.place }}
        </div>
        <div class="form-group">
          {{ form.date.label_tag }}
          {{ form.date }}
        </div>
        <div class="form-group">
          {{ form.time.label_tag }}
          {{ form.time }}
        </div>
        <div class="form-group">
          {{ form.duration.label_tag }}
          {{ form.duration }}
        </div>
        <div class="form-group">
          <label for="username-input">User hinzufügen:</label>
          <input id="username-input" class="form-control" type="text" placeholder="Suche" aria-label="Suche">
          <div class="mt-1" id="usernames-content">
          </div>
        <button type="submit" class="btn btn-primary mt-4">Einladung senden</button>
        <div></div>
      </form>
      <div id="added-users-div">
        <p class="mt-4"><strong>Eingeladen:</strong></p>
        <ul class="added-users-ul" id="added-users-ul">
      
        </ul>
      </div>
    </div>
  </div>

{% endblock content %}
{% block footer_javascript_page %}
  {% load static %}
  <script src='{% static "events/js/user_search.js" %}'></script>
{% endblock footer_javascript_page %}